@{
    ViewData["Title"] = "AddText";
}

<h1>AddText</h1>

<form method="post">
    <input type="text" name="fileName"placeholder="enter the file name"/>
    <textarea name="text" rows="4" cols="50">

    </textarea>
    <button type="submit">Submit</button>
</form>

